<div id="google-maps-container"></div>
<ul id="filters-container">
  <p class="filter-container-label">Find locations with...</p>
  <p class="filter-group-label">Resources:</p>
  <li>
    <input type="checkbox" id="filter-water-switch"
        data-filter-value="water" />
    <label for="filter-water-switch">
      Water
      <%= image_tag 'water_pin.png', size: '16x16', alt: 'water' %>
    </label>
  </li>
  <li>
    <input type="checkbox" id="filter-food-switch" data-filter-value="food" />
    <label for="filter-food-switch">
      Food
      <%= image_tag 'food_pin.png', size: '16x16', alt: 'food' %>
    </label>
  </li>
  <li>
    <input type="checkbox" id="filter-heat-switch" data-filter-value="heat" />
    <label for="filter-heat-switch">
      Heat
      <%= image_tag 'heat_pin.png', size: '16x16', alt: 'heat' %>
    </label>
  </li>
  <li>
    <input type="checkbox" id="filter-power-switch"
        data-filter-value="power" />
    <label for="filter-power-switch">
      Power
      <%= image_tag 'power_pin.png', size: '16x16', alt: 'power' %>
    </label>
  </li>
  <li>
    <input type="checkbox" id="filter-none" data-filter-value="nothing" />
    <label for="filter-none">
      None
      <%= image_tag 'none_pin.png', size: '16x16', alt: 'none' %>
    </label>
  </li>
  <div class="peopleCount">
    <p class="filter-group-label">Min. # of people:</p>
    <div class="range-slider radius" data-filter-value="people"
        data-slider data-options="start: 0; end: 500; step: 10; display_selector: #peopleCountNumber;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
      <input type="hidden">
    </div>
    <p id="peopleCountNumber"></p>
  </div>
</ul>
